.login-conent {
  min-height: 700px;
  font-size: 14px;
  background: #f3f7f7;
}

.loginForm {
  max-width: 900px;
  height: 500px;
  margin: 150px auto 0; // border: 2px solid #007bff;
  background: #FFF;
  box-shadow: 3px 3px 3px 3px #ccc;
  overflow: hidden;
  .form-header {
    height: 40px;
    background: #007bff;
    h2 {
      float: left;
      height: 100%;
      padding: 5px 12px;
      color: #FFF;
      font-size: 18px;
      line-height: 30px;
    }
    .close {
      height: 40px;
      padding: 3px 5px;
      font-size: 28px;
      line-height: 30px;
      span {
        vertical-align: super;
      }
      span:focus {
        outline: none;
      }
    }
    .close:focus {
      outline: none;
    }
  }
  .form-content {
    float: left;
    width: 50%;
    height: 100%;
    padding: 12px;
    .form-title {
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding: 10px 0;
      overflow: hidden;
      li {
        float: left;
        width: 50%;
        font-size: 22px;
        padding: 0 12px
      }
      li:first-child {
        border-right: 1px solid #ccc;
      }
      a {
        width: 70%;
        color: #888;
        text-decoration: none;
      }
    }
  }
}

.form-group {
  margin-bottom: 1.7rem;
  .form-control {
    line-height: 2;
  }
  .btn {
    line-height: 2;
    font-size: 16px;
  }
}

a {
  color: #333;
}
