html, body{
  height: 100%;
  font-family: Helvetica, tahoma, arial, "Times New Roman", "Microsoft YaHei", sans-serif;
  font-size: 12px;
  overflow: auto;
}

button, input[type=checkbox] {
  cursor: pointer;
}
