html, body{
  height: 100%;
  font-family: Helvetica, tahoma, arial, "Times New Roman", "Microsoft YaHei", sans-serif;
  font-size: 12px;
  overflow: auto;
}

button, input[type=checkbox] {
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;  
  width: 100%;
  min-height: 30px;
  padding: 12px;
  background: #007bff;
  font-size: 14px;
  text-align: center;
  z-index: -1;

  a { 
    margin-left: 30px;
    color: #FFF;
  }
}