<nav>
    <!-- <a [routerLink]=" ['./'] "
      routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Index
    </a>
    <a [routerLink]=" ['./home'] "
      routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Home
    </a>
    <a [routerLink]=" ['./detail'] "
      routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Detail
    </a>
    <a [routerLink]=" ['./barrel'] "
      routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Barrel
    </a>
    <a [routerLink]=" ['./about'] "
      routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      About
    </a> -->
      <div>
        <ul class="nav_l">
          <li>
            <a href="www.baidu.com">模板网站</a>
          </li>
          <li>      
            <a href="www.baidu.com">电商业</a>
          </li>
          <li>            
            <a href="www.baidu.com">鞋子</a>
          </li>
          <li>            
            <a href="www.baidu.com">衣服</a>
          </li>
          <li>            
            <a href="www.baidu.com">首饰</a>
          </li>          
        </ul>
        <ul class="nav_r">
          <li>
            <a href="www.baidu.com">登录</a>
          </li>
          <li>
              <a href="www.baidu.com">注册</a>
          </li>
          <li>
              <a href="www.baidu.com">成为会员</a>
          </li>
        </ul>
      </div>
  </nav>
  <div class="header">
    <div class="headerLayout">
      <div class="s_form_wrap">
        <form name="s_form" class="s_form clearfix" novalidate>
            <fieldset>
              <!-- <legend>鞋子搜索</legend> -->
              <div class="s_box clearfix">
                <label for="s_input" class="s_box_placeholder" #sLabel>搜索 鞋子／品牌／店铺</label>
                <div class="s_input_box">
                  <div class="s_input_wrap"> 
                    <input class="s_input" type="text" #sInput (focus)="sLabel.style.color = '#ccc'" (input)="sLabel.style.visibility = 'hidden'"
                     (blur)="sLabel.style.visibility='visible';sLabel.style.color = '#666'" autocomplete="off" role="search-input" title="请输入搜索文字" aria-label="请输入搜索文字">
                  </div>
                </div>
                <button type="submit">搜索</button>            
              </div>
            </fieldset>
          </form>
          <ul class="hot_query">
            <li class="hot_query_highlight"><a href="http://www.baidu.com">皮鞋</a></li>
            <li><a href="http://www.baidu.com">运动鞋</a></li>
            <li><a href="http://www.baidu.com">布鞋</a></li>
            <li class="hot_query_highlight"><a href="http://www.baidu.com">帆布鞋</a></li>
            <li><a href="http://www.baidu.com">凉鞋</a></li>
            <li><a href="http://www.baidu.com">高跟鞋</a></li>
          </ul>
        </div>
    </div>
  </div>
  <main>
    <div></div>
    <router-outlet></router-outlet>
  </main>


  <footer>
  
  </footer>