<div class="home">
  <div class="home-nav">
    <div>
      <ul class="home-navbar">
        <li><a href="">运动鞋</a></li>
        <li><a href="">皮鞋</a></li>
        <li><a href="">高跟鞋</a></li>
        <li><a href="">跑步鞋</a></li>
        <li><a href="">爬山鞋</a></li>
        <li><a href="">拖鞋</a></li>        
      </ul>
    </div>
  </div>
  <div class="home-wrap">
    <!-- 轮播图 -->
    <div class="carousel-wrap">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img class="carousel-img" src="assets/img/n1.jpg" alt="第一张">
          <div class="carousel-caption">
            <h3>10 seconds between slides...</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="carousel-img" src="assets/img/n2.jpg"  alt="第二张">
          <div class="carousel-caption">
            <h3>No keyboard...</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="carousel-img" src="assets/img/n3.jpg" alt="第三张">
          <div class="carousel-caption">
            <h3>And no wrap after last slide.</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="section clearfix" *ngFor="let section of shoesArr">
      <div class="section-title">
          <a [href]="section.titleUrl">
            <img [src]="section.title" alt="标题">
          </a> 
      </div>
      <div class="section-content">
        <ul class="section-list clearfix" *ngFor="let row of section.rows">
          <li *ngFor="let subitem of row.shoes">
            <a [href]="subitem.shoeUrl">
              <img [src]="subitem.shoeImg" alt="鞋子">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- {
      firstShoes: [
        {shoeUrl: 'assets/img/xiezi.jpg'},
        {shoeUrl: 'assets/img/xiezi.jpg'},
        {shoeUrl: 'assets/img/xiezi.jpg'},
        {shoeUrl: 'assets/img/xiezi.jpg'}
      ], secondShoes: [
        {shoeUrl: 'assets/img/xiezi.jpg'},
        {shoeUrl: 'assets/img/xiezi.jpg'},
        {shoeUrl: 'assets/img/xiezi.jpg'},
        {shoeUrl: 'assets/img/xiezi.jpg'}
      ]} -->