<nav>
  <div>
    <ul class="nav_l">
      <li>
        <a href="www.baidu.com">模板网站</a>
      </li>
      <li>
        <a href="www.baidu.com">电商业</a>
      </li>
      <li>
        <a href="www.baidu.com">鞋子</a>
      </li>
      <li>
        <a href="www.baidu.com">衣服</a>
      </li>
      <li>
        <a href="www.baidu.com">首饰</a>
      </li>
    </ul>
    <ul class="nav_r">
      <li>
        <a href="javascript:void(0)"  [routerLink]=" ['./login']"
           routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">登录</a>
      </li>
      <li>
        <a href="www.baidu.com">注册</a>
      </li>
      <li>
        <a href="www.baidu.com">成为会员</a>
      </li>
    </ul>
  </div>
</nav>
<div class="header">
  <div class="headerLayout">
    <div class="s_form_wrap">
      <form name="s_form" class="s_form clearfix" novalidate>
        <fieldset>
          <!-- <legend>鞋子搜索</legend> -->
          <div class="s_box clearfix">
            <label for="s_input" class="s_box_placeholder" #sLabel (focus)="sInput">搜索 鞋子／品牌／店铺</label>
            <div class="s_input_box">
              <div class="s_input_wrap">
                <input class="s_input" type="text" #sInput (focus)="sLabel.style.color = '#ccc'" (input)="sLabel.style.visibility = 'hidden'"
                       (blur)="sLabel.style.visibility='visible';sLabel.style.color = '#666'" autocomplete="off" role="search-input" title="请输入搜索文字" aria-label="请输入搜索文字">
              </div>
            </div>
            <button type="submit">搜索</button>
          </div>
        </fieldset>
      </form>
      <ul class="hot_query">
        <li class="hot_query_highlight"><a href="http://www.baidu.com">皮鞋</a></li>
        <li><a href="http://www.baidu.com">运动鞋</a></li>
        <li><a href="http://www.baidu.com">布鞋</a></li>
        <li class="hot_query_highlight"><a href="http://www.baidu.com">帆布鞋</a></li>
        <li><a href="http://www.baidu.com">凉鞋</a></li>
        <li><a href="http://www.baidu.com">高跟鞋</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="home">
  <div class="home-nav">
    <div>
      <ul class="home-navbar">
        <li><a href="">运动鞋</a></li>
        <li><a href="">皮鞋</a></li>
        <li><a href="">高跟鞋</a></li>
        <li><a href="">跑步鞋</a></li>
        <li><a href="">爬山鞋</a></li>
        <li><a href="">拖鞋</a></li>
      </ul>
    </div>
  </div>
  <div class="home-wrap">
    <!-- 轮播图 -->
    <div class="carousel-wrap">
      <ngb-carousel>
        <ng-template ngbSlide>
          <img class="carousel-img" src="assets/img/n1.jpg" alt="第一张">
          <div class="carousel-caption">
            <h3>10 seconds between slides...</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="carousel-img" src="assets/img/n2.jpg"  alt="第二张">
          <div class="carousel-caption">
            <h3>No keyboard...</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="carousel-img" src="assets/img/n3.jpg" alt="第三张">
          <div class="carousel-caption">
            <h3>And no wrap after last slide.</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="section clearfix" *ngFor="let section of shoesArr">
      <div class="section-title">
          <a [href]="section.titleUrl">
            <img [src]="section.title" alt="标题">
          </a>
      </div>
      <div class="section-content">
        <ul class="section-list clearfix" *ngFor="let row of section.rows">
          <li *ngFor="let subitem of row.shoes">
            <a [href]="subitem.shoeUrl">
              <img [src]="subitem.shoeImg" alt="鞋子">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer></footer>
